<a href="https://colab.research.google.com/github/Matbeae/Titanic---Machine-Learning-from-Disaster/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Объясните, как вычисляется качество модели с задачей классификации: назовите основные и вторичные метрики, приведите пример.

Ответ:

Качество модели определяется с помощью метрик.

Accuracy — доля правильных ответов от общего числа ответов. Правильные ответы — это истинно положительные (True Positive) и истинно отрицательные ответы (True Negative).

Precision — доля правильно классифицированных положительных образцов от всех образцов, которые были классифицированы как положительные.

Recall — Доля правильно классифицированных положительных образцов от общего числа положительных образцов класса.

F1-мера - взвешенное среднее гармоническое между precision и recall

Пример: В задаче классификации спама, если из 1000 сообщений 900 действительно являются спамом и 100 — не спамом, а модель правильно классифицировала 850 сообщений как спам и 90 сообщений как не спам, то:

- Accuracy: (90 + 850)/(90 + 50 + 850 + 10) = 0.94
- Precision: 90/(90 + 50) = 0.64
- Recall: 90/(90 + 10) = 0.9
- F1-мера: 2 * (0.64 * 0.9)/(0.64 + 0.9) = 0.75

2. Что такое тестовый набор данных (test set) и для чего он нужен?

Ответ:

Тестовый набор данных — это подмножество данных, которое используется для оценки производительности модели после её обучения. Он должен быть независимым от тренировочного набора данных, чтобы обеспечить объективную оценку качества модели на данных, которые она не видела в процессе обучения. Тестирование модели помогает определить, насколько хорошо она будет работать на новых данных, и помогает избежать переобучения.

3. В чем разница между параметром модели и гиперпараметром алгоритма обучения? Приведите примеры.

Ответ:

Параметры модели - это значения, которые модель учит во время обучения на основе данных. Они определяют поведение модели и её способность делать предсказания.

Пример: В линейной регрессии это коэффициенты (веса) для каждой из входных переменных.

Гиперпараметры алгоритма обучения - это параметры, которые устанавливаются до начала обучения модели и не изменяются в процессе обучения. Они влияют на то, как модель обучается, но сами по себе не обучаются.

Пример: Коэффициент обучения в алгоритмах оптимизации, таких как градиентный спуск или регуляризация (например, коэффициент L2-регуляризации).

Таким образом, параметры модели обучаются и оптимизируются на данных, в то время как гиперпараметры задаются до обучения и определяют, как будет происходить процесс обучения.

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
train_data = pd.read_csv('drive/MyDrive/train.csv')
test_data = pd.read_csv('drive/MyDrive/test.csv')

In [ ]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
train_data.shape

(891, 12)

In [ ]:
train_data['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [ ]:
train_data.corr(numeric_only=True)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [ ]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
train_data['Age'] = train_data['Age'].fillna(train_data['Age'].median())
train_data['Cabin'] = train_data['Cabin'].fillna('Unknown')
test_data['Age'] = test_data['Age'].fillna(test_data['Age'].median())
test_data['Cabin'] = test_data['Cabin'].fillna('Unknown')
train_data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [ ]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
train_data['Sex'].replace({'male': '0', 'female': '1'}, inplace=True) #мужчины - 0, женщины - 1
test_data['Sex'].replace({'male': '0', 'female': '1'}, inplace=True) #мужчины - 0, женщины - 1
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,Unknown,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,Unknown,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,Unknown,S

In [ ]:
train_data.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
train_data['Embarked'].replace({'C': 0, 'Q': 1, 'S': 2}, inplace=True)
test_data['Embarked'].replace({'C': 0, 'Q': 1, 'S': 2}, inplace=True)
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,Unknown,2.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,0.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,Unknown,2.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,2.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,Unknown,2.0

In [ ]:
train_data['Embarked'] = train_data['Embarked'].fillna(train_data['Embarked'].median())
test_data['Embarked'] = test_data['Embarked'].fillna(test_data['Embarked'].median())
train_data.Embarked.unique()

array([2., 0., 1.])

In [ ]:
train_data.Sex = train_data.Sex.astype(int)
test_data.Sex = test_data.Sex.astype(int)

In [ ]:
train_data.Embarked = train_data.Embarked.astype(int)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    int64
dtypes: float64(2), int64(7), object(3)
memory usage: 83.7+ KB

In [ ]:
test_data['Fare'] = test_data['Fare'].fillna(test_data['Fare'].median())
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 36.0+ KB

In [ ]:
grouped_cases = train_data.groupby('Pclass')['Survived'].sum()
grouped_cases

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

Разделим набор данных на 2 выборки в соотношении 60/40

In [ ]:
from sklearn.model_selection import train_test_split
features = train_data.drop(['Survived', 'Name', 'Ticket', 'Cabin'], axis=1).columns
X, y = train_data[features], train_data['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.4)
print('Train:', X_train.shape)
print('Test:', X_test.shape)

Train: (534, 8)
Test: (357, 8)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

model = RandomForestClassifier(n_estimators=27, max_depth=21, random_state=42)
model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

print(metrics.classification_report(y_train, y_train_pred))
print(metrics.classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       333
           1       1.00      1.00      1.00       201

    accuracy                           1.00       534
   macro avg       1.00      1.00      1.00       534
weighted avg       1.00      1.00      1.00       534

              precision    recall  f1-score   support

           0       0.81      0.92      0.86       216
           1       0.85      0.67      0.75       141

    accuracy                           0.82       357
   macro avg       0.83      0.80      0.81       357
weighted avg       0.83      0.82      0.82       357

При нынешних параметрах RandomForestClassifier модель сильно переобучается на тренировочной выборке

Подберем оптимальные значения параметров для алгоритма

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [20, 28, 50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=3, n_jobs=-1, verbose=2)

grid_search.fit(X_train, y_train)

print(f"Лучшие параметры: {grid_search.best_params_}")

Fitting 3 folds for each of 180 candidates, totalling 540 fits
Лучшие параметры: {'max_depth': None, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 50}

In [ ]:
model = RandomForestClassifier(min_samples_leaf= 4, n_estimators= 50, random_state=42)
model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

print(metrics.classification_report(y_train, y_train_pred))
print(metrics.classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.92       333
           1       0.93      0.77      0.84       201

    accuracy                           0.89       534
   macro avg       0.90      0.87      0.88       534
weighted avg       0.89      0.89      0.89       534

              precision    recall  f1-score   support

           0       0.81      0.92      0.86       216
           1       0.84      0.67      0.74       141

    accuracy                           0.82       357
   macro avg       0.82      0.79      0.80       357
weighted avg       0.82      0.82      0.81       357

Получилось избавить модель от переобучения

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Предскажем на стандартизированных данных

In [ ]:
model.fit(X_train_scaled, y_train)
y_train_pred = model.predict(X_train_scaled)
y_test_pred = model.predict(X_test_scaled)
print(metrics.classification_report(y_train, y_train_pred))
print(metrics.classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.92       333
           1       0.93      0.77      0.84       201

    accuracy                           0.89       534
   macro avg       0.90      0.87      0.88       534
weighted avg       0.89      0.89      0.89       534

              precision    recall  f1-score   support

           0       0.81      0.92      0.86       216
           1       0.84      0.67      0.74       141

    accuracy                           0.82       357
   macro avg       0.82      0.79      0.80       357
weighted avg       0.82      0.82      0.81       357

Как и ожидалось, алгоритм не чувствителен к масштабированию, т.к. не взвешивает признаки

In [ ]:
from sklearn.decomposition import PCA

# создадим объект класса PCA
pca = PCA(n_components=6)
pca.fit(X_train_scaled)
# уменьшим размерность данных
train_x_pca = pca.transform(X_train_scaled)
test_x_pca = pca.transform(X_test_scaled)

In [ ]:
print(len(X_train_scaled[0]))
print(len(train_x_pca[0]))

8
6

Попробуем предсказать на уменьшенном количестве данных

In [ ]:
model.fit(train_x_pca, y_train)
y_train_pred = model.predict(train_x_pca)
y_test_pred = model.predict(test_x_pca)
print(metrics.classification_report(y_train, y_train_pred))
print(metrics.classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.88      0.96      0.92       333
           1       0.92      0.79      0.85       201

    accuracy                           0.89       534
   macro avg       0.90      0.87      0.88       534
weighted avg       0.90      0.89      0.89       534

              precision    recall  f1-score   support

           0       0.80      0.88      0.84       216
           1       0.78      0.67      0.72       141

    accuracy                           0.79       357
   macro avg       0.79      0.77      0.78       357
weighted avg       0.79      0.79      0.79       357

Точность упала

Попробуем алгоритм svm

In [ ]:
from sklearn import svm
svm = svm.SVC(C=0.1, kernel='linear', gamma=0.1, random_state=42)
svm.fit(X_train, y_train)
y_train_pred = svm.predict(X_train)
y_test_pred = svm.predict(X_test)

print(metrics.classification_report(y_train, y_train_pred))
print(metrics.classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.82      0.86      0.84       333
           1       0.74      0.70      0.72       201

    accuracy                           0.80       534
   macro avg       0.78      0.78      0.78       534
weighted avg       0.79      0.80      0.79       534

              precision    recall  f1-score   support

           0       0.79      0.85      0.82       216
           1       0.74      0.66      0.70       141

    accuracy                           0.77       357
   macro avg       0.77      0.75      0.76       357
weighted avg       0.77      0.77      0.77       357

Svm показал меньшую точность, пожалуй остановимся на рандомном лесе

In [ ]:
X_train = train_data[features]
X_test = test_data[features]

model.fit(X_train, y)

y_test_pred = model.predict(X_test)

test_data['Survived_pred'] = y_test_pred
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived_pred
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,Unknown,1,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,Unknown,2,0
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,Unknown,1,0
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,Unknown,2,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,Unknown,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",0,27.0,0,0,A.5. 3236,8.0500,Unknown,2,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,108.9000,C105,0,1
415,1307,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,SOTON/O.Q. 3101262,7.2500,Unknown,2,0
416,1308,3,"Ware, Mr. Frederick",0,27.0,0,0,359309,8.0500,Unknown,2,0
417,1309,3,"Peter, Master. Michael J",0,27.0,1,1,2668,22.3583,Unknown,0,0

По итогу предсказание на "сухом" алгоритме RandomForestClassifier выдавало наибольшую точность на тестовой выборке.

Исходные данные были очищены и обработаны.Были обнаружены пропущенные значения, которые необходимо было заполнить. Для создания модели были отобраны признаки, необходимые для наиболее точного обучения модели. На основе выбранных признаков были построены различные модели машинного обучения. Модели были обучены на тренировочных и протестированы на тестовых данных. После тестирования моделей на тестовых данных, выбрана модель с наилучшими показателями точности и полноты.